:root[data-debug] body::after {
  @apply bg-gray-900 bottom-1 right-1 text-white font-mono
    text-[.625rem] leading-none py-1 px-1.5 fixed z-[10000]
    rounded;
}

@screen xs {
  :root[data-debug] body::after {
    content: "xs (480px)";
  }
}

@screen sm {
  :root[data-debug] body::after {
    content: "sm (640px)";
  }
}

@screen md {
  :root[data-debug] body::after {
    content: "md (768px)";
  }
}

@screen lg {
  :root[data-debug] body::after {
    content: "lg (1024px)";
  }
}

@screen xl {
  :root[data-debug] body::after {
    content: "xl (1280px)";
  }
}

@screen 2xl {
  :root[data-debug] body::after {
    content: "2xl (1536px)";
  }
}
