:root {
  --font-family-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-family-sans-fallbacks:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-sans: Font, var(--font-family-sans-fallbacks);

  @apply antialiased;
}

/* @supports (font-variation-settings: normal) {
  :root {
    --font-family-sans: "Font VF", var(--font-family-sans-fallbacks);
  }
} */

/* general */
s, del, strike {
  @apply decoration-[clamp(1px, .082em, 2px)];
}

/* responsive text presets */

/* .text-preset-h1 {
  @apply text-4xl not-italic font-bold text-theme-text;
  --font-weight-bolder: 850;
}

.text-preset-base {
  @apply text-sm text-theme-text/80;
} */
