:root {
  /* colors (HSL values) */
  --color-white: 0 0% 100%;
  --color-black: 0 0% 0%;

  /* spacing */
  --spacing-sides:
    calc(
      5vw + max(env(safe-area-inset-left, 0), env(safe-area-inset-right, 0))
    );
  --spacing-section: min(8vw, theme('spacing.20'));
  --max-width-prose: 68ch;
}

@screen md {
  :root {
    --spacing-sides:
      calc(
        max(5vw, calc(50vw - 37rem))
        + max(env(safe-area-inset-left, 0), env(safe-area-inset-right, 0))
      );
  }
}

@screen lg {
  :root {
    --max-width-prose: calc(50rem - 2 * var(--spacing-break-out));
  }
}
