############## Project ###############
.env
.idea/
node_modules/
.DS_Store
Thumbs.db
Icon
/kirby/
/vendor/
/content
.php-cs-fixer.cache
/.dev

############### Kirby 3 ###############

/public/media/*
!/public/media/index.html

/storage/cache/*
!/storage/cache/index.html

/storage/accounts/.logins

/storage/sessions/*
!/storage/sessions/index.html

/storage/logs/*
!/storage/logs/index.html

# Exclude local config files
/storage/config/*
!/storage/config/config.php
!/storage/config/config.*.php
!/storage/config/env.example.php
!/storage/config/vite.config.php

/storage/config/.license
