{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "property-no-vendor-prefix": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "custom-property-pattern": null,
    "number-max-precision": null,
    "value-keyword-case": null,
    "value-list-comma-newline-after": null,
    "declaration-colon-space-after": "always-single-line",
    "no-invalid-position-at-import-rule": null,
    "custom-property-empty-line-before": null,
    "function-comma-newline-after": null,
    "max-line-length": 80,
    "comment-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment",
          "stylelint-commands"
        ]
      }
    ],
    "number-leading-zero": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "layer",
          "screen"
        ]
      }
    ],
    "selector-list-comma-newline-after": null,
    "no-descending-specificity": null,
    "selector-descendant-combinator-no-non-space": null,
    "selector-attribute-quotes": "always",
    "selector-class-pattern": "[a-z][a-z0-9-]*(__[a-z][a-z0-9]*)?",
    "declaration-empty-line-before": [
      "always",
      {
        "except": [
          "after-comment",
          "after-declaration",
          "first-nested"
        ]
      }
    ],
    "string-quotes": "single",
    "function-url-quotes": "always",
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "theme"
        ]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
          "blockless-after-same-name-blockless",
          "blockless-after-blockless"
        ]
      }
    ],
    "block-opening-brace-space-before": "always",
    "declaration-block-single-line-max-declarations": 2,
    "at-rule-name-space-after": "always",
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "font-family-name-quotes": "always-unless-keyword",
    "import-notation": "string"
  }
}
