/* spacing */

.prose {
  --prose--break-out: 0;
}

.prose--break-out {
  --prose--break-out: calc(-1 * var(--spacing-break-out));
}

/**
 * 1. Cannot use space-y-6 here, because it’s specificity is too high
 *    and would be hard to override.
 */
.prose > * + * {
  @apply mt-6; /* 1 */
}

.prose > * + :is(blockquote, figure) {
  @apply mt-8;
}

.prose > :is(blockquote, figure) + * {
  @apply mt-8;
}

/* headings */

.prose > h1 + *:not(:is(h1, h2, h3, h4, h5, h6)) {
  @apply mt-16;
}

.prose > * + h2 {
  @apply mt-16;
}

.prose > * + h3 {
  @apply mt-12;
}

.prose > * + h4 {
  @apply mt-8;
}

/* list */

.prose > :is(ol, ul) {
  counter-reset: list-number;
}

.prose > :is(ul, ol) li {
  @apply ml-8 relative;

  counter-increment: list-number;
}

.prose > :is(ul, ol) li + li,
.prose > :is(ul, ol) :is(ul, ol) {
  @apply mt-2;
}

.prose > ul > li::before,
.prose > :is(ol, ul) ul li::before {
  @apply content-[''] absolute left-[-1.25em] top-[.5em]
    w-[.5em] h-[.5em] rounded-sm bg-current;
}

.prose > ol > li,
.prose > :is(ol, ul) ol > li {
  counter-increment: list-number;
}

.prose > ol > li::before,
.prose > :is(ol, ul) ol > li::before {
  @apply absolute right-full top-0 rounded-sm text-right
    pr-2.5 font-bold tabular-nums;

  content: counter(list-number) '.';
}

/* quote */

/* .prose blockquote {
  @apply text-theme-text rounded-sm py-6 px-16;

  background:
    var(--prose--quote-icon) 1.5rem 1.5rem / 1.5rem 1.5rem no-repeat
    var(--prose--quote-bg);
  margin-left: var(--prose--break-out);
  margin-right: var(--prose--break-out);
}

.prose > blockquote footer {
  @apply relative pl-6 mt-4;
}

.prose > blockquote footer::before {
  @apply content-['—'] absolute top-0 left-0;
} */

/* figure */

.prose > figure:is(.image, .video) {
  margin-left: var(--prose--break-out);
  margin-right: var(--prose--break-out);
}

.prose > figure.image .image__box,
.prose > figure.video .video__box {
  @apply overflow-hidden rounded-sm mx-auto;
}

.prose > figure:is(.image, .video) figcaption {
  @apply py-2;
}

/* info box / aside */

.prose > aside {
  @apply rounded-sm py-5 px-6;

  background: var(--prose--aside-bg);
}

/* code blocks */

.prose > :is(.code-toolbar, pre) {
  @apply text-left whitespace-pre tracking-normal rounded-sm py-5
    px-6 font-mono overflow-x-auto text-white bg-gray-900 text-sm
    relative;

  hyphens: none;
  margin-left: var(--prose--break-out);
  margin-right: var(--prose--break-out);
  tab-size: 4;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

.prose > :is(.code-toolbar, pre) code {
  @apply block bg-transparent p-0 m-0;

  font-size: inherit;
  line-height: inherit;
}

.code-toolbar .toolbar {
  @apply bottom-3 opacity-0 transition-opacity absolute
    right-3;
}

.code-toolbar:hover .toolbar {
  @apply opacity-100;
}

.code-toolbar button {
  @apply flex items-center bg-gray-800 rounded-sm text-gray-100
    cursor-pointer text-xs font-sans outline-none py-1 px-2
    transition-colors;
}

.code-toolbar button:hover {
  @apply bg-gray-700;
}

.code-toolbar button > svg {
  @apply mr-1 fill-gray-100;
}

/* syntax theme */

/* .code-toolbar .token:is(.comment, .block-comment, .prolog, .doctype, .cdata)
{
  @apply text-gray-400;
}

.code-toolbar .token.punctuation {
  @apply text-gray-300;
}

.code-toolbar .token:is(.tag, .attr-name, .namespace, .deleted) {
  color: #fc8286;
}

.code-toolbar .token.function-name {
  color: #4f9eee;
}

.code-toolbar .token:is(.boolean, .number, .function) {
  color: #ffa061;
}

.code-toolbar .token:is(.property, .class-name, .constant, .symbol) {
  color: #f1c64f;
}

.code-toolbar .token:is(.selector, .important, .atrule, .keyword, .builtin) {
  color: #d799d8;
}

.code-toolbar .token:is(.string, .char, .attr-value, .regex, .variable) {
  color: #88ecaf;
}

.code-toolbar .token:is(.operator, .entity, .url) {
  color: #6ae2e0;
}

.code-toolbar .token:is(.important, .bold) {
  font-weight: bold;
}

.code-toolbar .token.italic {
  font-style: italic;
}

.code-toolbar .token.entity {
  cursor: help;
}

.code-toolbar .token.inserted {
  color: green;
} */

/* themes */

.prose--light,
.theme--light {
  --prose--link: rgb(var(--color-blue-500));
  --prose--link-decoration: currentColor;
  --prose--link-hover: rgb(var(--color-blue-400));
  --prose--link-decoration-hover: currentColor;
  --prose--link-active: rgb(var(--color-blue-600));
  --prose--link-decoration-active: currentColor;

  /* --prose--accent: rgb(var(--color-blue-500));
  --prose--quote-bg: rgb(var(--color-white));
  --prose--quote-icon: url('../images/quote-purple-haze.svg');
  --prose--aside-bg: rgb(var(--color-blue-500) / 10%); */
}

.prose--dark,
.theme--dark {
  --prose--link: currentColor;
  --prose--link-decoration: currentColor;
  --prose--link-hover: rgb(var(--color-blue-400));
  --prose--link-decoration-hover: currentColor;
  --prose--link-active: rgb(var(--color-blue-500));
  --prose--link-decoration-active: currentColor;

  /* --prose--accent: rgb(var(--color-blue-400));
  --prose--quote-bg: rgb(var(--color-white) / 7.5%);
  --prose--quote-icon: url('../images/quote-blue-400.svg');
  --prose--aside-bg: rgb(var(--color-white) / 7.5%); */
}

.prose--purple-haze,
.theme--purple-haze {
  --prose--link: currentColor;
  --prose--link-decoration: currentColor;
  --prose--link-hover: currentColor;
  --prose--link-decoration-hover: currentColor;
  --prose--link-active: currentColor;
  --prose--link-decoration-active: currentColor;

  /* --prose--accent: rgb(var(--color-white));
  --prose--quote-bg: rgb(var(--color-white) / 20%);
  --prose--quote-icon: url('../images/quote-white.svg');
  --prose--aside-bg: rgb(var(--color-white) / 20%); */
}
